@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
 
} */

.heroh1 {
  text-wrap: balance;
}

@keyframes roundBox {
  0% {
    transform: translateX(0) translateY(-10%);
  }

  25% {
    transform: translateX(40%) translateY(40%);
  }

  50% {
    transform: translateX(0) translateY(90%);
  }

  75% {
    transform: translateX(-40%) translateY(40%);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes slideLR {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20%);
  }

  75% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(0);
  }

}

.image-bg-blur{
  animation: roundBox 4s ease-in-out infinite;
}

.image-bg-blur1{
  animation: roundBox 4s ease-in-out 2s infinite;
}

.card-container {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .card-container {
    max-width: calc(50% - 10px);
  }
}